.navbar {
	opacity: 0.97;
	background-color: white;
	margin-bottom: 0px!important; 
}

body.navbar-is-fixed-top {
	padding-top: 0px!important;
}

body {
	background: none;
}

.nav>li {
	padding-left: 15px;
}

.navbar-right {
	padding-right: 15px;
}

.navbar-toggle {
	margin-right: 30px;
}

.container {
	min-width: 320px!important;
	width: 100%;
	padding-right: 0px!important;
	padding-left: 0px!important;
}

.row {
	padding-left: 20px; 
	padding-right: 20px;
	max-width: 680px;
	margin: 0 auto 100px auto;
}

 .signupform {
 	margin: 0 auto 100px auto;
 }

.logo {
	padding-right: 15px!important;
	padding-left: 15px!important;
}

.jumbotron {
	height: 380px;
	padding: 30px 30px;
	padding-top: 100px;
	color: white;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0,0,0,.1);
	margin-bottom: 0px!important;
	background: -webkit-linear-gradient(top right, #0b5675, #f6f2f1);
	background: -moz-linear-gradient(top right, #0b5675, #f6f2f1);
	background: -o-linear-gradient(top right, #0b5675, #f6f2f1);
	background: -ms-linear-gradient(top right, #0b5675, #f6f2f1);
	background: linear-gradient(to bottom left, #0b5675, #f6f2f1);
	background-size: cover;
	border-radius: 0px!important; 
	-webkit-font-smoothing: antialiased;
	font-family: "Lato","Helvetica Neue","Helvetica",sans-serif;
}

.jumbotron h1 {
	font-size: 48px;
	font-weight: 180;
	line-height: 48px;
}

.container {
	-webkit-font-smoothing: antialiased;
	font-family: "Lato","Helvetica Neue","Helvetica",sans-serif;
}

.benefits-section {
	height: 350px;
	padding-top: 40px;
	background-image: -webkit-linear-gradient(top, #fafafa, #f3f3f3);
	background-image: -moz-linear-gradient(top, #fafafa, #f3f3f3);
	background-image: -o-linear-gradient(top, #fafafa, #f3f3f3);
	background-image: -ms-linear-gradient(top, #fafafa, #f3f3f3);
	background-image: linear-gradient(to bottom, #fafafa, #f3f3f3);
}

.testimonials-section {
	height: 350px;
	padding-top: 60px;

}

.videos-section {
	padding-top: 40px;
	height: 430px;
	background-image: -webkit-linear-gradient(top, #fafafa, #f3f3f3);
	background-image: -moz-linear-gradient(top, #fafafa, #f3f3f3);
	background-image: -o-linear-gradient(top, #fafafa, #f3f3f3);
	background-image: -ms-linear-gradient(top, #fafafa, #f3f3f3);
	background-image: linear-gradient(to bottom, #fafafa, #f3f3f3);
}

.signup-section {
	height: 380px;
	padding-top: 80px;
	color: white;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0,0,0,.1);
	background-color: silver;
	background-size: cover;
	border-radius: 0px!important; 
}

.footer {
	text-align: center;
}