---
layout: default
main_value: Awesome Default Landing Pages

benefit_1: Amazing First Benefit.
copy_1: This copy explains what the first benefit does.

benefit_2: Second Benefit is Even Better.
copy_2: This should convince the potential customer to sign up.

benefit_3: It's Freakin' Awesome!
copy_3: Integrates quickly and easily, without hassle.

button_text: Signup
second_page_location: return.html
---
<section id="benefits" class="benefits-section">
  <div class="container">
    <div class="row">
      <h2>{{ page.benefit_1 }}</h2>
      <p>{{ page.copy_1 }}</p>

      <h2>{{ page.benefit_2 }}</h2>
      <p>{{ page.copy_2 }}</p>

      <h2>{{ page.benefit_3 }}</h2>
      <p>{{ page.copy_3 }}</p>
    </div>
  </div>
</section>

<section id="signup" class="signup-section">
  <div class="container">
    <div class="row">
      <h2>Hello! You caught us before we're ready.</h2>
      <p>We're working hard to put the finishing touches on {{ site.app_name }}. If you'd like us to send you a reminder when we're ready, just put your email in below.</p>
      {% include mail_form.html %}
      </div>
    </div>
  </div>
</section>

<section id="testimonials" class="testimonials-section">
  <div class="container">
    <div class="row">
        {% for testimonial in site.data.testimonials %}
          <div class="col-md-4">
              <h3>{{ testimonial.quote }}</h2>
              <p>{{ testimonial.name }}</p>
          </div>    
        {% endfor %}
    </div>
  </div>
</section>

<section id="video" class="videos-section">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/i__1Z5a9Sak"
            allowfullscreen=""></iframe>
        </div>
    </div>
  </div>
</div>
</section>